<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('dialogs.dialog', id=dialog.id) }}"><h3>Dialog # {{ dialog.id }}</h3></a>

                </a>
            </td>
            <td>
                <span>
                    <a href="{{ url_for('dialogs.dialog', id=dialog.id) }}"> {{ dialog.name }}</a>
                </span>
                <br>
                <span id="dialog{{ dialog.id }}">{# last_message.body #}</span>
            </td>
        </tr>
    </table>