<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('dialogs.dialog', id=dialog.id) }}"><h3>Dialog # {{ dialog.id }}</h3></a>
                </a>
            </td>
            <td>
                <span>
                    <a href="{{ url_for('dialogs.dialog', id=dialog.id) }}"> {{ dialog.name }}</a>
                </span>
                <br>
                    {% if dialog.last_message %}
                        <span>
                        {% with message = dialog.last_message%}
                        {% with width=30 %}
                            {% include 'dialogs/_message.html'%}
                        {% endwith %}
                        {% endwith %}
                        </span>

                    {% else %}
                    <span>
                        No last message
                    </span>
                    {% endif %}

            </td>
        </tr>
    </table>